<h1>Listing Maps</h1>

<table class="table table-bordered">
  <tr>
    <th>Map Name</th>
  </tr>

<% @geosmaps.each do |geosmap| %>
  <tr>
    <td><%= button_to geosmap.name, {:controller=> 'geosmaps', :id=> geosmap.id,:action=> 'display'}, 
                                           :class=>"btn btn-warning", :method=> :get%></td>


  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Context', new_context_path %>
